body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./wallpaper.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}